.well{
    background-color: rgb(253, 223, 183);
    padding: 10rem 10rem 10rem 10rem ;
    align-items: center;


}
.digital-clock{
    text-align: center;
    
}

.clock{
    padding: 0 1rem ;
    font-size: 5vw;
    font-weight: 60rem;
}

@media(max-width:998px){
    html{
        font-size: 55%;
    }
}

 @media(max-width:768px){
    html{
        font-size: 45%;
    }
 }